.banner h1{
    color: plum;
    font-size: 5rem;
    text-shadow: 5px 5px black;
}

.banner{
    background-image: url(/images/background.jpg);
    background-position: center;
    width: 100%;
    height: 150px;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



body{
    background-color:darkslategray;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

#message-ask{
    font-style: italic;
}

img{
    width: 200px;
    height: 200px;
    float: center;
    border-radius: 50px;
}

button{
    color: black;
    width: 150px;
    background-color: plum;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    
    box-shadow: 3px 3px black;
    cursor: pointer;
}